<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,310},{150,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{150,126}}</string>
                <key>sourceSize</key>
                <string>{178,140}</string>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{124,161}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{124,161}}</string>
                <key>sourceSize</key>
                <string>{148,193}</string>
            </dict>
            <key>launcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,141}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{306,141}}</string>
                <key>sourceSize</key>
                <string>{340,159}</string>
            </dict>
            <key>ropeS.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{20,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,290}}</string>
                <key>sourceSize</key>
                <string>{20,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Launchers.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:856fd6320bcaeac62f1add15206d1839:1/1$</string>
            <key>textureFileName</key>
            <string>Launchers.png</string>
        </dict>
    </dict>
</plist>
