<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jump__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,483}}</string>
                <key>sourceSize</key>
                <string>{362,483}</string>
            </dict>
            <key>Jump__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{362,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,483}}</string>
                <key>sourceSize</key>
                <string>{362,483}</string>
            </dict>
            <key>Run__000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,366},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,731},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1556},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1096},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
            <key>Run__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1461},{363,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,458}}</string>
                <key>sourceSize</key>
                <string>{363,458}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ninja1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30b5dbe240dd0a6639230f15d8de4adc:2/2$</string>
            <key>textureFileName</key>
            <string>Ninja1.png</string>
        </dict>
    </dict>
</plist>
