<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_spring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,322},{185,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,78}}</string>
                <key>sourceSize</key>
                <string>{185,78}</string>
            </dict>
            <key>P_spring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{185,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,78}}</string>
                <key>sourceSize</key>
                <string>{185,78}</string>
            </dict>
            <key>P_spring3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{185,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,78}}</string>
                <key>sourceSize</key>
                <string>{185,78}</string>
            </dict>
            <key>P_spring4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{185,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,78}}</string>
                <key>sourceSize</key>
                <string>{185,78}</string>
            </dict>
            <key>P_spring5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{185,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,78}}</string>
                <key>sourceSize</key>
                <string>{185,78}</string>
            </dict>
            <key>P_spring_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,78}}</string>
                <key>sourceSize</key>
                <string>{191,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>P_springAnim.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90fdafa966fc8681815c841dc5d64ab:1/1$</string>
            <key>textureFileName</key>
            <string>P_springAnim.png</string>
        </dict>
    </dict>
</plist>
