<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{186,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{186,19}}</string>
                <key>sourceSize</key>
                <string>{198,37}</string>
            </dict>
            <key>P_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{186,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{186,19}}</string>
                <key>sourceSize</key>
                <string>{198,37}</string>
            </dict>
            <key>P_rotation.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{186,19}}</string>
                <key>sourceSize</key>
                <string>{198,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Platforms1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44eabcf7027a019c6bc3c43f13acc8df:1/1$</string>
            <key>textureFileName</key>
            <string>Platforms1.png</string>
        </dict>
    </dict>
</plist>
