<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>P_conveyer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{173,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{173,16}}</string>
                <key>sourceSize</key>
                <string>{181,24}</string>
            </dict>
            <key>P_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{170,26}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{170,26}}</string>
                <key>sourceSize</key>
                <string>{204,56}</string>
            </dict>
            <key>P_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{170,50}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{170,50}}</string>
                <key>sourceSize</key>
                <string>{210,60}</string>
            </dict>
            <key>P_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{186,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{186,19}}</string>
                <key>sourceSize</key>
                <string>{198,37}</string>
            </dict>
            <key>P_spring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{186,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{186,100}}</string>
                <key>sourceSize</key>
                <string>{192,108}</string>
            </dict>
            <key>P_spring_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{187,27}}</string>
                <key>sourceSize</key>
                <string>{191,33}</string>
            </dict>
            <key>P_vanish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{164,19}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{164,19}}</string>
                <key>sourceSize</key>
                <string>{180,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Platforms.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0c4eac15561fcc47034b00759bb554:1/1$</string>
            <key>textureFileName</key>
            <string>Platforms.png</string>
        </dict>
    </dict>
</plist>
