<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_exit.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>346</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>465</integer>
            </dict>
            <key>B_help.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>346</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>343</integer>
            </dict>
            <key>B_left.png</key>
            <dict>
                <key>height</key>
                <integer>68</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>82</integer>
                <key>originalWidth</key>
                <integer>91</integer>
                <key>width</key>
                <integer>71</integer>
                <key>x</key>
                <integer>428</integer>
                <key>y</key>
                <integer>282</integer>
            </dict>
            <key>B_right.png</key>
            <dict>
                <key>height</key>
                <integer>67</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>75</integer>
                <key>originalWidth</key>
                <integer>80</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>370</integer>
            </dict>
            <key>B_start.png</key>
            <dict>
                <key>height</key>
                <integer>120</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>134</integer>
                <key>originalWidth</key>
                <integer>346</integer>
                <key>width</key>
                <integer>334</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>221</integer>
            </dict>
            <key>B_up.png</key>
            <dict>
                <key>height</key>
                <integer>67</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>79</integer>
                <key>originalWidth</key>
                <integer>82</integer>
                <key>width</key>
                <integer>70</integer>
                <key>x</key>
                <integer>428</integer>
                <key>y</key>
                <integer>352</integer>
            </dict>
            <key>J_bottom.png</key>
            <dict>
                <key>height</key>
                <integer>86</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>94</integer>
                <key>originalWidth</key>
                <integer>106</integer>
                <key>width</key>
                <integer>88</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>282</integer>
            </dict>
            <key>J_top.png</key>
            <dict>
                <key>height</key>
                <integer>33</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>41</integer>
                <key>originalWidth</key>
                <integer>44</integer>
                <key>width</key>
                <integer>34</integer>
                <key>x</key>
                <integer>443</integer>
                <key>y</key>
                <integer>74</integer>
            </dict>
            <key>overText.png</key>
            <dict>
                <key>height</key>
                <integer>70</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>102</integer>
                <key>originalWidth</key>
                <integer>530</integer>
                <key>width</key>
                <integer>506</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>pointer.png</key>
            <dict>
                <key>height</key>
                <integer>59</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>83</integer>
                <key>originalWidth</key>
                <integer>159</integer>
                <key>width</key>
                <integer>139</integer>
                <key>x</key>
                <integer>338</integer>
                <key>y</key>
                <integer>221</integer>
            </dict>
            <key>title.png</key>
            <dict>
                <key>height</key>
                <integer>145</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>167</integer>
                <key>originalWidth</key>
                <integer>461</integer>
                <key>width</key>
                <integer>439</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>74</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7715cf19e53c74d31aeabfcb5bc0de:1/1$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
